@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* html {
  height: 100%;
  width: 100%;
} */

html {
  /* --c1: rgba(255, 255, 255, 0.09); */
  --c1: #171717;
  --c2: #0D0D0D; 
  --s: 100px;  /* control the size of the grid */
  --n: 4;      /* control the number of dashes*/
  --t: 3px;    /* the thickness of dashes */
  --g: 10px;   /* the gap between dashes */

  --_d:calc(var(--s)/var(--n));
  background: 
    conic-gradient(from 90deg at var(--t) var(--t),var(--c2) 90deg,#0000 0) 
     calc(-1*var(--t)) calc(-1*var(--t)) / var(--s) var(--s),
    conic-gradient(from 90deg at var(--g) var(--g),var(--c1) 90deg,var(--c2) 0) 
     calc((var(--_d) + var(--g) + var(--t))/-2) 
     calc((var(--_d) + var(--g) + var(--t))/-2) 
    / var(--_d) var(--_d);
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 0.9); */
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 348px;
  /* min-height: 360px; */
  gap: 16px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.09);
  background: linear-gradient(146deg, rgba(255, 255, 255, 0.05) 2.97%, rgba(255, 255, 255, 0.01) 93.22%);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
}

.breadcrumbs {
  display: flex;
  width: fill;
  gap: 8px;
  padding: 8px 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: stretch;
  padding: 0px 16px;
  padding-bottom: 16px;
}

.currentpage {
  border-radius: 6px;
  padding: 6px;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  flex: 1;
}

.currentpage:hover {
  cursor: text;
  border: 1px solid rgba(255, 255, 255, 0.09);
}

.currentpage:focus {
  outline: rgba(255, 255, 255, 0.05) solid 3px;
  outline-offset: 1px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.title {
  border-radius: 6px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0);
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font: 500 18px 'Inter';
  line-height: 24px;
  box-sizing: border-box;
}

.title:hover {
  cursor: text;
  border: 1px solid rgba(255, 255, 255, 0.09);
}

.title:focus {
  outline: rgba(255, 255, 255, 0.05) solid 3px;
  outline-offset: 1px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.body {
  border-radius:6px;
  padding: 6px;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  font: 400 15px 'Inter';
  line-height: 24px;
  resize: none;
  overflow: hidden;
}

.body:hover {
  cursor: text;
  border: 1px solid rgba(255, 255, 255, 0.09);
}

.body:focus {
  outline: rgba(255, 255, 255, 0.05) solid 3px;
  outline-offset: 1px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: auto;
}